/bin/
/json/
/crypto/
/.metadata/
*.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
